<html>
  <head>
    <title>Yony's First Ansible</title>
  </head>
  <body>
    <h1>nginx, configured by Ansible</h1>
    <p>If you can see this, Ansible successfully installed nginx and our custom configuration.</p>

    <p>Running on inventory hostname: <code>{{inventory_hostname}}</code></p>
  </body>
</html>
